@model User
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="Register" asp-controller="Accounts" method="post">
    <div class="card shadow-sm">
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><label asp-for="Name" class="font-weight-bold"></label></td>
                        <td>
                            <input asp-for="Name" class="form-control" placeholder="Enter Username" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Email" class="font-weight-bold"></label></td>
                        <td>
                            <input asp-for="Email" class="form-control" placeholder="Enter email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="Password" class="font-weight-bold"></label></td>
                        <td>
                            <input asp-for="Password" class="form-control" placeholder="Enter Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td><label asp-for="RoleId" class="font-weight-bold"></label></td>
                        <td>
                            <select asp-for="RoleId" asp-items="ViewBag.role" class="form-control">
                                <option value="-1">------------ Select Role ----------</option>
                            </select>
                            <span asp-validation-for="RoleId" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <input type="submit" class="btn btn-outline-success btn-lg" value="Save" />
                            <a asp-action="Index" class="btn btn-secondary btn-lg">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
